<div>
    <h2>
        <a hx-get="{{ path('fleet', {id: fleet.id}) }}" hx-target="#selected">
            {{ fleet.name }}
        </a>
    </h2>
    <button hx-get="{{ path('fleet_edit', {id: fleet.id}) }}" hx-target="closest div">
        Edit
    </button>
</div>