{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

{{ include('map/map.html.twig') }}

<ul id="colonies-list">
    {% for colony in player.colonies %}
    <li class="btn">
        <a hx-get="{{ path('colony', {id: colony.id}) }}" hx-target="#selected">
            {{ colony.name }}
        </a>
    </li>
    {% endfor %}
</ul>

<div id="selected">

</div>

{% endblock %}